@model IEnumerable<STATIONERY_MANAGE.Models.store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage
            <small>Stores</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Stores</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div id="messages"></div>

                <div id="sucess" class="alert alert-success alert-dismissible hide" role="alert">
                    successfull
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="fail"  class="alert alert-error alert-dismissible hide" role="alert">
                    fail
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Store</button>
                <br /> <br />

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Manage Stores</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="manageTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Store Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="show_data">
                               
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- col-md-12 -->
        </div>
        <!-- /.row -->


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- create brand modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Store</h4>
            </div>

            <form role="form" >

                <div class="modal-body">

                    <div class="form-group">
                        <label for="brand_name">Store Name</label>
                        <input type="text" class="form-control" id="store_name" name="store_name" placeholder="Enter store name" autocomplete="off">
                        <input type="hidden" id="store_id1" value="0" /> 
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="active">Status</label>
                        <select class="form-control" id="active" name="active">
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="add_store" class="btn btn-primary">Save changes</button>
                </div>

            </form>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- edit brand modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Store</h4>
            </div>

            <form role="form" id="updateForm">

                <div class="modal-body">
                    <div id="messages"></div>

                    <div class="form-group">
                        <label for="edit_brand_name">Store Name</label>
                        <input type="text" class="form-control" id="edit_store_name" name="edit_store_name" placeholder="Enter store name" autocomplete="off">
                        <input type="hidden" id="store_id2" value="0" />
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="edit_active">Status</label>
                        <select class="form-control" id="edit_active" name="edit_active">
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="editstore" class="btn btn-primary">Save changes</button>
                </div>

            </form>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- remove brand modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="removeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remove Store</h4>
            </div>

            <form role="form" action="" method="post" id="removeForm">
                <div class="modal-body">
                    <p>Do you really want to remove?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="removestore" class="btn btn-primary">Save changes</button>
                </div>
            </form>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




    <script type="text/javascript">
            
        $(document).ready(function () {
            LoadData();

            $('#add_store').click(function () {
                var name = $('#store_name').val();
                var active = $('#active').val();
                var model = {
                    name: name,
                    active: active
                };
                if (Validate()) {
                    $.ajax(
                        {
                            url: '/Store/create',
                            type: 'POST',
                            data: model,
                            success: function (res) {
                                if (res.success) {
                                    LoadData();
                                    $('#addModal').modal('hide');
                                    $('#sucess').removeClass('hide').addClass('show');
                                }
                                else {
                                    console.log("loi");
                                }
                            }
                        });
                }
            });

            $('body').on('click', '#edit_store', function () {
                var id = $(this).data('id');
                GetdatabyId(id);
            });

            $('body').on('click', '#remove_store', function () {
                var id = $(this).data('id');
                $('#removeModal').modal('show');
                $('#removestore').click(function () {
                    Delete(id);
                });
            });
            $('#editstore').click(function () {
                var name = $('#edit_store_name').val();
                var active = $('#edit_active').val();
                var id = $('#store_id2').val();
                var model = {
                    id: id,
                    name: name,
                    active: active
                    
                };
                if (Validate_edit()) {
                    $.ajax(
                        {
                            url: '/Store/update',
                            type: 'POST',
                            data: model,
                            success: function (res) {
                                if (res.success) {
                                    LoadData();
                                    $('#editModal').modal('hide');
                                    $('#sucess').removeClass('hide').addClass('show');
                                }
                            }
                        });
                }
            });


        });

        function LoadData() {
            $.ajax({
                url: '/Store/Getdata',
                type: 'GET',
                success: function (res) {
                    if (res.TotalItems > 0) {
                        var items = res.Data;
                        var html = "";
                        for (let i = 0; i < res.TotalItems; i++) {
                            html += "<tr id='trow_" + items[i].id  +  "'>";

                            html += "<td valign='top' colspan='1' > " + items[i].name + "</td>";
                            if (items[i].active == 1) {
                                html += "<td valign='top' colspan='1' >active</td>";
                            }
                            else {
                                html += "<td valign='top' colspan='1' >inactive</td>";
                            }

                            html += "<td valign='top' colspan='1' ><button type='button' data-id='" + items[i].id + "' id='edit_store' class='btn btn-default'><i class='fa fa-edit'></i></button><button type = 'button' id='remove_store'  data-id='" + items[i].id + "' class='btn btn-default'> <i class='fa fa-remove'></i></button ></td>";

                            html += "</tr>";
                        }
                        $('#show_data').html(html);
                    }
                }
            });
        }
        function GetdatabyId(id) {
            $.ajax({
                url: '/Store/Getid',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.data != null) {
                        $('#edit_store_name').val(res.data.name);

                        $('#edit_active').val(res.data.active);
                        $('#store_id2').val(res.data.id);
                        $('#editModal').modal('show');
                    }
                }
            });
        }

        function Validate() {

            var check = false;

            var name = $('#store_name').val();
            if (name === '') {
                $('#store_name').next().html('you have not input value');
                check = false;
            } else {
                $('#store_name').next().html('');
                check = true;
            }
            return check
        }

        function Validate_edit() {

            var check = false;

            var name = $('#edit_store_name').val();
            if (name === '') {
                $('#edit_store_name').next().html('you have not input value');
                check = false;
            } else {
                $('#edit_store_name').next().html('');
                check = true;
            }
            return check
        }

        function Delete(id) {
            $.ajax({
                url: '/Store/Delete',
                type: 'POST',
                data: { id: id }
                

            }).done(function (res) {
                if (res.success) {
                $('#trow_' + id).remove();
                $('#removeModal').modal('hide');
                $('#sucess').removeClass('hide').addClass('show');
            }
                }).fail(function (err) {
                    $('#fail').removeClass('hide').addClass('show');
                    console.log('loi');

                });
        }
       
    </script>

