@model STATIONERY_MANAGE.Models.order
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage
            <small>Orders</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Orders</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div id="messages"></div>

                

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Add Order</h3>
                    </div>
                    <!-- /.box-header -->
                    <form role="form"  class="form-horizontal">
                        <div class="box-body">


                            <div class="form-group">
                                <label for="gross_amount" class="col-sm-12 control-label">@DateTime.Now</label>
                            </div>
                            <div class="form-group">
                                <label for="gross_amount" class="col-sm-12 control-label">Date: <?php echo date('h:i a') ?></label>
                            </div>

                            <div class="col-md-4 col-xs-12 pull pull-left">

                                <div class="form-group">
                                    <label for="gross_amount" class="col-sm-5 control-label" style="text-align:left;">Customer Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="customer_name" class="form-control" placeholder = "Enter Customer Name" autocomplete="off">


                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="gross_amount" class="col-sm-5 control-label" style="text-align:left;">Customer Address</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="customer_address" class="form-control" placeholder="Enter Customer Address" autocomplete="off">


                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="gross_amount" class="col-sm-5 control-label" style="text-align:left;">Customer Phone</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="customer_phone" class="form-control" placeholder="Enter Customer Phone" autocomplete="off">


                                    </div>
                                </div>
                            </div>


                            <br /> <br />
                            <table class="table table-bordered" id="product_info_table">
                                <thead>
                                    <tr>
                                        <th style="width:50%">Product</th>
                                        <th style="width:10%">Qty</th>
                                        <th style="width:10%">Rate</th>
                                        <th style="width:20%">Amount</th>
                                        <th style="width:10%"><button type="button" id="add_row" class="btn btn-default"><i class="fa fa-plus"></i></button></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr id="row_1">
                                        <td>
                                            <select class="form-control select_group product" data-row-id="row_1" id="product_1" name="product[]" style="width:100%;" required>
                                                <option value=""></option>
                                                @foreach (var item in ViewBag.listproduct)
                                                {
                                                    <option value="@item.id">@item.name</option>

                                                }


                                            </select>
                                        </td>
                                        <td><input type="text" name="qty[]" id="qty_1" class="form-control" required onkeyup=""></td>
                                        <td>
                                            <input type="text" name="rate[]" id="rate_1" class="form-control" disabled autocomplete="off">
                                            <input type="hidden" name="rate_value[]" id="rate_value_1" class="form-control" autocomplete="off">
                                        </td>
                                        <td>
                                            <input type="text" name="amount[]" id="amount_1" class="form-control" disabled autocomplete="off">
                                            <input type="hidden" name="amount_value[]" id="amount_value_1" class="form-control" autocomplete="off">
                                        </td>
                                        <td><button type="button" class="btn btn-default" id="btn_add"><i class="fa fa-add"></i></button></td>
                                        <td><input type="hidden"  class="form-control" autocomplete="off">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <br /> <br />

                            <div class="col-md-6 col-xs-12 pull pull-right">

                                <div class="form-group">
                                    <label for="gross_amount" class="col-sm-5 control-label">Gross Amount</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="gross_amount" name="gross_amount" disabled autocomplete="off" value="">
                                        <input type="hidden" class="form-control" id="gross_amount_value" name="gross_amount_value" autocomplete="off" value="0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="service_charge" id="service_chargetext" class="col-sm-5 control-label">S-Charge %</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="service_charge" name="service_charge" disabled autocomplete="off">
                                        <input type="hidden" class="form-control" id="service_charge_value" name="service_charge_value" autocomplete="off">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="vat_charge" id="vat_chargetext" class="col-sm-5 control-label">Vat  %</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="vat_charge" name="vat_charge" disabled autocomplete="off">
                                        <input type="hidden" class="form-control" id="vat_charge_value" name="vat_charge_value" autocomplete="off" value="0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="discount" class="col-sm-5 control-label">Discount</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="discount" name="discount" placeholder="Discount" value="0" autocomplete="off">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="net_amount" class="col-sm-5 control-label">Net Amount</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="net_amount" name="net_amount" disabled autocomplete="off">
                                        <input type="hidden" class="form-control" id="net_amount_value" name="net_amount_value" autocomplete="off">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <input type="hidden" name="service_charge_rate" value="" autocomplete="off">
                            <input type="hidden" name="vat_charge_rate" value="" autocomplete="off">
                            <button type="button" id="btnadd" class="btn btn-primary">Create Order</button>

                            <a href="@Url.Action("Index")" class="btn btn-warning">Back</a>
                        </div>
                    </form>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- col-md-12 -->
        </div>
        <!-- /.row -->


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">
    $(document).ready(function () {
        $('#product_1').change(function () {
            var id = $('#product_1').val();
            getdatabyid(id);
        });

        getcompany();



        $('#discount').keyup(function () {
            update();
        });


        $('#qty_1').keyup(function () {
            var qt = $('#qty_1').val();
            var rat = $('#rate_1').val();
            $('#amount_1').val(qt * rat);
        });

        $('body').on('click', '#btnadd', function () {
            //Loop through the Table rows and build a JSON array.
            var order_items = new Array();
            $("#product_info_table TBODY TR").each(function () {
                var row = $(this);
                var order_item = {};
                order_item.product_id = row.find("TD input[type='hidden'] ").eq(0).val();
                order_item.qty = row.find("TD input[type='text']").eq(1).val();
                order_item.rate = row.find("TD").eq(2).html();
                order_item.amount = row.find("TD").eq(3).html();
                order_items.push(order_item);
            });
            order_items.shift();
            var customer_name = $("#customer_name").val();
            var customer_address = $("#customer_address").val();
            var customer_phone = $("#customer_phone").val();
            var gross_amount = $("#gross_amount").val();
            var gross_amount_value = $("#gross_amount_value").val();
            var service_charge = $("#service_charge").val();
            var service_charge_value = $("#service_charge_value").val();
            var vat_charge = $("#vat_charge").val();
            var vat_charge_value = $("#vat_charge_value").val();
            var discount = $("#vat_charge_value").val();
            var net_amount = $("#net_amount").val();
            var net_amount_value = $("#net_amount").val();
            var model = {
                customer_name: customer_name,
                customer_address: customer_address,
                customer_phone: customer_phone,
                gross_amount: gross_amount,
                gross_amount_value: gross_amount_value,
                service_charge: service_charge,
                service_charge_value: service_charge_value,
                vat_charge: vat_charge,
                vat_charge_value: vat_charge_value,
                discount: discount,
                net_amount: net_amount,
                net_amount_value: net_amount_value







            };

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Orders/createorder",
                data: {
                    orders_items: order_items,
                    order: model
                },
                

                success: function (data) {
                    console.log(data.message);
                    window.location.href = "Orders/Index";
                }
            });
        });
    });


    $('body').on('click', '#btn_add', function () {
        var product_id = $('#product_1').val();
        var product_name = $('#product_1 :selected').text();
        var product_qty = $('#qty_1').val();
        var product_rate = $('#rate_1').val();
        var amount_1 = $('#amount_1').val();
        var amount_2 = parseInt($('#amount_1').val());
 
       var tbody = $('#product_info_table > TBODY')[0];
        //add row
        var row = tbody.insertRow(-1);

        //product name
        var cell = $(row.insertCell(-1));
        var input_name = $(" <input />");
        input_name.attr("class", "form-control");
        input_name.attr("type", "text");
        input_name.prop("disabled", true);
        input_name.attr("autocomplete", "off");
        input_name.val(product_name);
        cell.append(input_name);
        var input_id = $(" <input />");
        input_id.attr("class", "form-control");
        input_id.attr("type", "hidden");
        input_id.attr("autocomplete", "off");
        input_id.val(product_id);
        cell.append(input_id);

        
        //productqty


        cell = $(row.insertCell(-1));
        var input_qty = $(" <input />");
        input_qty.attr("class", "form-control");
        input_qty.attr("type", "text");
        input_qty.prop("disabled", true);
        input_qty.attr("autocomplete", "off");
        input_qty.val(product_qty);
        cell.append(input_qty);

        //productrate
        cell = $(row.insertCell(-1));
        var input_rate = $(" <input />");
        input_rate.attr("class", "form-control");
        input_rate.attr("type", "text");
        input_rate.attr("disabled");
        input_rate.attr("autocomplete", "off");
        input_rate.val(product_qty);
        cell.append(product_rate);

        //productamount1
        cell = $(row.insertCell(-1));
        var input_amount = $(" <input />");
        input_amount.attr("class", "form-control");
        input_amount.attr("type", "text");
        input_amount.attr("disabled");
        input_amount.attr("autocomplete", "off");
        input_amount.val(product_qty);
        cell.append(amount_1);
        



            
        //add button cell
        cell = $(row.insertCell(-1));
        var btnRemove = $("<button />");
        btnRemove.attr("type", "button");
        btnRemove.attr("class", "btn btn-default");
        btnRemove.attr("id", "btn_add");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.val("Remove");
        cell.append(btnRemove);
        //product id 

        

                
        
        
       


      
        var x = parseInt($('#gross_amount_value').val());
        
        $('#gross_amount').val(x + amount_2);

        $('#gross_amount_value').val($('#gross_amount').val());



         amount = $('#gross_amount').val();
         discount = $('#discount').val();
        if (discount > 0) {
            discount = parseFloat($('#discount').val());
        }
         service_charge_percent = $('#service_charge_value').val();
         vat_charge_percent = $('#vat_charge_value').val();
        $('#service_charge').val((service_charge_percent * amount) / 100);
         service_charge = $('#service_charge').val();
        $('#vat_charge').val((vat_charge_percent * amount) / 100);
         vat_charge = $('#vat_charge').val();

        $('#net_amount').val(parseFloat(amount) + parseFloat(service_charge) + parseFloat(vat_charge) - discount);
        

        

    });

    function getcompany() {
        $.ajax({
            url: '/Orders/Getcompany',
            type: 'GET',
            data: {},
            success: function (res) {
                if (res.data != null) {
                    $('#service_charge_value').val(res.data.service_charge_value);
                    $('#vat_charge_value').val(res.data.vat_charge_value);
                    var zxc = $('#service_charge_value').val();
                    var vbn = $('#vat_charge_value').val();
                    $("#service_chargetext").html("S-Charge " + zxc + " %"  );
                    $("#vat_chargetext").html("Vat-Charge " + vbn + " %");
                }
                else {
                    console.log("loi");
                }
            }
        });

    }

    function discount() {
        amount = $('#gross_amount').val();
        discount = $('#discount').val();
        if (discount > 0) {
            discount = parseFloat($('#discount').val());
        }
        service_charge_percent = $('#service_charge_value').val();
        vat_charge_percent = $('#vat_charge_value').val();
        $('#service_charge').val((service_charge_percent * amount) / 100);
        service_charge = $('#service_charge').val();
        $('#vat_charge').val((vat_charge_percent * amount) / 100);
        vat_charge = $('#vat_charge').val();

        $('#net_amount').val($('#discount').val());

    }
    function update() {
        amount = $('#gross_amount').val();
        discount = $('#discount').val();
        if (discount > 0) {
            discount = parseFloat($('#discount').val());
        }
        service_charge_percent = $('#service_charge_value').val();
        vat_charge_percent = $('#vat_charge_value').val();
        $('#service_charge').val((service_charge_percent * amount) / 100);
        service_charge = $('#service_charge').val();
        $('#vat_charge').val((vat_charge_percent * amount) / 100);
        vat_charge = $('#vat_charge').val();

        $('#net_amount').val(parseFloat(amount) + parseFloat(service_charge) + parseFloat(vat_charge) - discount);
    }

    function getdatabyid(id) {
        $.ajax({
            url: '/Orders/Getid',
            type: 'GET',
            data: { id: id },
            success: function (res) {
                if (res.data != null) {
                    $('#qty_1').val(1);
                    var qty = $('#qty_1').val();
                    $('#rate_1').val(res.data.price);
                    var rate = $('#rate_1').val();
                    $('#amount_1').val(qty * rate);
                }
                else {
                    console.log("loi");
                }
            }
        });
    }
    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete: " )) {
            //Get the reference of the Table.
            var table = $("#product_info_table")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };
    








</script>

